html, body {
  height: 100%;
}

.full-height {
  height: 100%;
}

.pt-2per {
  padding-top: 2%;
}

.pt-3per {
  padding-top: 3%;
}

.pt-5per {
  padding-top: 5%;
}

.pt-8per {
  padding-top: 8%;
}

.pb-1per {
  padding-bottom: 1%;
}

._center {
  margin: 0 auto;
}

._error_message {
  color: red;
  text-align: left!important;
  margin-top: 10px;
}

.message-container {
  position: fixed;
  top: 30px;
  right: 25%;
  width: 25%;
  z-index: 1000;
}
